.Order {
    display: flex;
    justify-content: space-between;
    background: #eeeeee;
    margin: 5px;
}
.OrderList {
    display: flex;
    text-align: center;
}

.OrderList p {
    padding: 0 10px;
    margin: 0;
}

h4 {
    padding: 10px;
    font-style: italic;
}

.OrderButton  {
    display: block;
    margin: 10px auto;
    padding: 5px 15px;
}
.ContactData {
    margin: 20px auto;
    text-align: center;
    box-sizing: border-box;
}

.Input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px auto;
    display: block;
    width: 60%;
    box-sizing: border-box;
}

.Input:focus {
    outline: none;
    background-color: #ccc;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}