.Item {
    display: flex;
    margin: 10px;
    border: 1px solid grey;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
}

.btn {
    background: none;
    border: none;
}