.Container {
  display: flex;
}

h2 {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  background: rgba(195, 218, 250, 0.58);
}
.Block {
  border: 2px solid black;
  width: auto;
  margin: 10px;
  height: auto;
}
.OrderBlock {
  width: 30%;
}

.MenuBlock {
  width: 30%;
}

.Menu {
  display: flex;
  flex-wrap: wrap;
}
p {
  padding: 10px;
}